body{
  padding-left: 35%;
  padding-top: 15%;
}

h1{
  color: lightgray;
  padding-left: 14%;
}
li{
  border: solid 1px grey;
  list-style: none;
  width: 15%;
  height: 15%;
}
.list-group-item{
  width: 40%;
}